@import "tailwindcss";

@theme {
  --font-sans: "Inria Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-mint-500: oklch(0.72 0.11 178);

  --color-brown-400: #9C895D;
  
  --color-green-800: #4F4F3A;

  --color-yellow-100: #E9E0B9;

  --color-yellow-600: #DEC927;

  --color-gray-100: #EFEFEF;

  --color-gray-200: #E3E3E3;

  --color-gray-400: #DCDCDC;

  --color-gray-500: #C9C7C7;

  --color-gray-600: #C4C4C4;

  --color-black-500: #212221;

  --color-blue-500: #1AA3FF;

  --color-red-800: #8F3D3D;

  --color-orange-900: #FF6F00;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}

button:active {
  opacity: 0.6;
}

